
    <div class="admin-padding">
        <div class="btn-group ms-auto align-self-start">
            
            <a class="btn btn-primary" href="/admin/ReportsManagement"><i class="bi bi-arrow-left"></i> Back to Report Mangement</a>
        </div>
        {{!-- <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            A file with the name <strong></strong>  already exists
        </div>
       
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            Click <a href="" target="_blank"><strong></strong></a> to download the file.
        </div>
        
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            No changes were made.
        </div> --}}
        
        <div class="card">
            <div class="card-header">
                Report Archives
            </div>

            
            <div class="card-body">
                <table id="archive-table" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            
                            <th scope="col">Report Name</th>
                            <th scope="col">Report Description</th>
                            <th scope="col">Date Created</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Tags</th>


                            <th width="100px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each reports}}
                        <tr>
                            <th scope="row">{{this.id}}</th>
                            
                            {{!-- <td><embed src="{{this.url}}" width="500" height="375" type="application/pdf">{{this.reportName}}</td> --}}
                            <td><a href="{{this.url}}" target="_blank">{{this.reportName}} </a></td>
                            <td>{{this.description}}</td>
                            <td>{{this.date}}</td>
                            <td>{{this.startDate}}</td>
                            <td>{{this.endDate}}</td>
                            <td>{{this.tags}}</td>

                            <td class="d-flex justify-content-end">
                                <a class="btn btn-primary mx-2" href="{{this.url}}" download><i class="bi bi-download"></i></a>
                                <form action="" method="POST">
                                    <!-- Button to Open the Modal -->
                                    {{!-- <button type="button" class="update btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#update{{id}}" role="button"><i class="bi bi-arrow-clockwise"></i></button> --}}
                                    <!-- The Modal -->
                                    <div class="modal fade" id="update{{this.id}}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                      
                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                <h4 class="modal-title">Update</h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                </div>
                            
                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    <div class="row my-3">
                                                        <div class="col-6">
                                                            <div class="form-floating ">
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-floating ">
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row my-3">
                                                        <div class="col-12">
                                                            <div class="form-floating ">
                                                                
                                                            </div>
                                                        </div>
                                                        <span id="result">Result: newReport.pdf</span>
                                                    </div>
                                                </div>
                            
                                                <!-- Modal footer -->
                                                <div class="modal-footer">
                                                <input type="submit" value="Update" class="btn btn-primary">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <form action="/admin/DeleteReports" method="POST">
                                    <!-- Button to Open the Modal -->
                                    <button type="button" class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#delete{{this.id}}" role="button"><i class="bi bi-trash-fill"></i></button>
                                    <!-- The Modal -->
                                    <div class="modal fade" id="delete{{this.id}}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                      
                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                <h4 class="modal-title">Delete Confirmation</h4>
                                                
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                </div>
                            
                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    <p>Are you sure you want to delete this report?</p>
                                                    <p style=""> <b>Report Name:</b>  {{this.reportName}}</p>
                                                    <p style=""> <b>Report Description:</b>  {{this.description}}</p>
                                                    <p style=""> <b>Date Created:</b>  {{this.date}}</p>
                                                    <p style=""> <b>Start Date:</b>  {{this.startDate}}</p>
                                                    <p style=""> <b>End Date:</b>  {{this.endDate}}</p>
                                                    <p style=""> <b>Tags:</b>  {{this.tags}}</p>
                                               
                                                </div>
                            
                                                <!-- Modal footer -->
                                                <div class="modal-footer">
                                                <input type="hidden" name="reportId" id="reportId" value="{{this.id}}">
                                                <input type="submit" value="Delete" class="btn btn-danger">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                </div>
        
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </td>
                            <td></td>
                        </tr>
                        {{/each}}
                        {{!-- EndFor --}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
<script src="/scripts/archives.js"></script>
