<div class="card" style="padding:10px">
  <div>

    <h2>User Management</h2>
  </div>

  <div>
    <div class="card-body">
      <table class="table table-striped" id="customers-table">
        <thead>
          <tr>
            <th>User ID</th>
            <th>Role</th>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Phone Number</th>
            <th>Update User</th>
            <th>Delete User</th>
            <th>BAN status</th>
          </tr>
        </thead>
        <tbody>
          {{#each Users}}
          <tr>


            <td>{{this.id}}</td>
            <td>{{this.role}}</td>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.gender}}</td>
            <td>{{this.phoneNumber}}</td>
            <td>
              <a href="/admin/editUser/{{this.id}}" class="btn btn-warning">
                <i class="fas fa-pencil-alt"></i>
                Update User
              </a>
            </td>
            <td>
              <form action="" method="POST">

                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{this.id}}">
                  Delete user
                </button>

                <!-- The Modal -->
                <div class="modal" id="myModal_{{this.id}}">
                  <div class="modal-dialog">
                    <div class="modal-content">

                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title">Delete Confirmation</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                      </div>

                      <!-- Modal body -->
                      <div class="modal-body">
                        Are you sure you want to delete id {{this.id}}?
                      </div>

                      <!-- Modal footer -->
                      <div class="modal-footer">
                        <a href="/admin/deleteUser/{{this.id}}" class="btn btn-danger" data-toggle="confirmation"
                          data-title="Confirm delete?">
                          <i class="far fa-trash-alt"></i>
                          Delete
                        </a>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      </div>

                    </div>
                  </div>
                </div>
              </form>
            </td>
            <td>{{this.isban}}</td>
            

          </tr>
          {{/each}}
        </tbody>
      </table>

      <script>
        window.addEventListener('DOMContentLoaded', event => {

          const customersTable = document.getElementById('customers-table');
          if (customersTable) {
            new simpleDatatables.DataTable(customersTable);
          }

          const adminTable = document.getElementById('admin-table');
          if (adminTable) {
            new simpleDatatables.DataTable(adminTable);
          }


        });
      </script>