{{#each messages}}
<div class="alert alert-success alert-dismissible">
	<button type="button" class="btn-close" aria-label="Close" data-dismiss="alert"></button>
	<h6><i class="bx bx-check-circle icon"></i> {{this}}</h6>
</div>
{{/each}}
{{#each errors}}
<div class="alert alert-danger">
	<h6><i class="bx bx-exclamation-circle icon"></i> {{this}}</h6>
</div>
{{/each}}

{{#if flashMessenger }}
{{#each flashMessenger.alertsBeforeFlush}}
<div class="alert alert-{{this.type}} {{#if this.canBeDismissed}}alert-dismissible{{/if}}">
    {{#if this.canBeDismissed}}
    <button type="button" class="btn-close" aria-label="Close" data-dismiss="alert"></button>
    {{/if}}
    <h6>
        {{#if this.titleIcon}}
        <i class="{{this.titleIcon}}"></i>
        {{/if}}
        {{this.title}}
    </h6>
</div>
{{/each}}
{{/if}}
