
<style>
    @import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);



    .card-no-border .card {
        border: 0px;
        border-radius: 4px;
        -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
    }

    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem
    }

    .comment-widgets .comment-row:hover {
        background: rgba(0, 0, 0, 0.02);
        cursor: pointer;
    }

    .comment-widgets .comment-row {
        border-bottom: 1px solid rgba(120, 130, 140, 0.13);
        padding: 15px;
    }

    .comment-text:hover {
        visibility: hidden;
    }

    .comment-text:hover {
        visibility: visible;
    }

    .label {
        padding: 3px 10px;
        line-height: 13px;
        color: #ffffff;
        font-weight: 400;
        border-radius: 4px;
        font-size: 75%;
    }

    .round img {
        border-radius: 100%;
    }

    .label-info {
        background-color: #1976d2;
    }

    .label-success {
        background-color: green;
    }

    .label-danger {
        background-color: #ef5350;
    }

    .action-icons a {
        padding-left: 7px;
        vertical-align: middle;
        color: #99abb4;
    }

    .action-icons a:hover {
        color: #1976d2;
    }

    .mt-100 {
        margin-top: 100px
    }

    .mb-100 {
        margin-bottom: 100px
    }
</style>

<div class="container d-flex justify-content-center mt-100 mb-100">
    <div class="row">
        <button onclick="location.href = '/customerservice'" class="action-button-fixed">Back to Topics</button>
        <div class="col-md-12">
            
            <div class="card">
                <div class="card-body">
                    <h2>Your Comments</h2>
                    <h6>View and Edit Your Comments Here</h6>
                    <hr>
                    <a href="/CommunityFAQPage">Back to Community FAQ Page</a>
                    <br>
                    <br>
                    <h4 class="card-title">Recent Comments</h4>
                    <h6 class="card-subtitle">Latest Comments section by date</h6>
                    
                </div>
                {{#each comments}}
                
                <div class="comment-widgets m-b-20">
                    <div class="d-flex flex-row comment-row">
                        <div class="p-2"></div>
                        <div class="comment-text w-100">
                            <h5>{{this.title}}</h5>
                            <div class="comment-footer">
                                <span class="date">{{this.dateAdded}}</span>
                                <span class="label label-info">{{this.owner}}</span> <span class="action-icons">
                                    
                                    
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#myModalEdit_{{this.id}}"><i class="bx bx-pencil"></i></button>
                                    {{!-- Delete Comment Model --}}
                                    <div class="modal" id="myModalEdit_{{this.id}}">
                                        <form action="/editComment" method="post">
                                        <div class="modal-dialog">
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                <h4 class="modal-title">Edit Comment</h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                </div>

                                                <div class="modal-body">
                                                    <label for="title">Title</label>
                                                    <input type="text" class="form-control ml-1 shadow-none" name="title" id="title" value="{{this.title}}" required>
                                                    <br>
                                                    <label for="description">Description</label>
                                                    
                                                    
                                                    <textarea class="form-control ml-1 shadow-none textarea" name="description" id="description" value="" required>{{this.description}}</textarea>
                                                </div>

                                                <div class="modal-footer">
                                                <input type="hidden" name="commentID" id="commentID" value="{{this.id}}">
                                                <input type="submit" value="Confirm Changes" class="btn btn-primary">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cancel</button>
                                                </div>

                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                    {{!-- End of Delete Comment Model --}}
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#myModal_{{this.id}}"><i class="bx bx-trash"></i></button>  
                                    {{!-- Delete Comment Model --}}
                                    <div class="modal" id="myModal_{{this.id}}">
                                        <form action="/deleteComment" method="post">
                                        <div class="modal-dialog">
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                <h4 class="modal-title">Delete Comment Confirmation</h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                </div>

                                                <div class="modal-body">
                                                Are You Sure you want to delete this comment? This Action Cannot be Undone
                                                </div>

                                                <div class="modal-footer">
                                                <input type="hidden" name="commentID" id="commentID" value="{{this.id}}">
                                                <input type="submit" value="Delete" class="btn btn-danger">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cancel</button>
                                                </div>

                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                    {{!-- End of Delete Comment Model --}}
                                    
                                </span>
                            </div>
                            <p class="m-b-5 m-t-10">{{this.description}}</p>
                        </div>
                    </div>
                </div>
                
                {{/each}}
            </div>

        </div>
        <div class="container mt-5">
    
</div>
    </div>
</div>
