<div class="card" style="padding:10px">
  <div class="card-header">
    <h2>Order Management</h2>
  </div>
  <div class="card-body">
    <table class="table table-striped" id="orders-table">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Customer Details</th>
          <th>Product Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Order Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each orders}}
        <tr>


          <td>{{order.orderUUID}}</td>
          <td>
            <button type="button" class="btn w-100" data-bs-toggle="modal"
              data-bs-target="#myModal_{{order.orderOwnerID}}">
              {{order.orderOwnerName}}
            </button>

            <!-- The Modal -->
            <div class="modal" id="myModal_{{order.orderOwnerID}}">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Product Details</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    <p>Customer Name : {{order.orderOwnerName}}</p>
                    <p>Phone Number : {{order.phone_number}}</p>
                    <p>Address : {{order.address}} {{order.unit_number}} S{{order.postal_code}}</p>
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                  </div>

                </div>
              </div>
            </div>

          </td>
          <td>{{this.product_name}}
            {{!-- <button type="button" class="btn w-100" data-bs-toggle="modal"
              data-bs-target="#myModal_{{this.productSku}}">
              {{this.product_name}}
            </button>

            <!-- The Modal -->
            <div class="modal" id="myModal_{{this.productSku}}">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Product Details</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    <p>Name : {{this.product_name}}</p>
                    <p>Quantity Purchased : {{this.qtyPurchased}}</p>
                    <p>Product Price : {{this.product_price}}</p>
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                  </div>

                </div>
              </div>
            </div> --}}
          </td>
          <td>{{this.product_price}}</td>
          <td>{{this.qtyPurchased}}</td>
          <td>
            <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal"
              data-bs-target="#myModal_{{this.id}}">
              {{this.orderStatus}}
            </button>

            <!-- The Modal -->
            <div class="modal " id="myModal_{{this.id}}">
              <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Order Status</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body d-flex justify-content-between">
                    <button type="button" data-bs-id="{{this.id}}"
                      class="btn btn-primary statusbtn flex-fill m-2">Processing</button>
                    <button type="button" data-bs-id="{{this.id}}"
                      class="btn btn-primary statusbtn flex-fill m-2">Packed</button>
                    <button type="button" data-bs-id="{{this.id}}" class="btn btn-primary statusbtn flex-fill m-2">Sent
                      For
                      Delivery</button>
                    <button type="button" data-bs-id="{{this.id}}"
                      class="btn btn-primary statusbtn flex-fill m-2">Delivered</button>
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                    <button type="button" class="btn btn-primary confirm">Save Changes</button>
                  </div>

                </div>
              </div>
            </div>
          </td>
          {{!-- <td>
            <form action="" method="POST">

              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_">
                Delete user
              </button>

              <!-- The Modal -->
              <div class="modal" id="myModal_">
                <div class="modal-dialog">
                  <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Delete Confirmation</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                      Are you sure you want to delete ?
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <input type="submit" value="Delete" class="btn btn-danger">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>

                  </div>
                </div>
              </div>
            </form>
          </td> --}}



        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<script>
  $(document).ready(function () {

    const ordersTable = document.getElementById('orders-table');
    if (ordersTable) {
      new simpleDatatables.DataTable(ordersTable);
    }
    let data = {};

    $('.statusbtn').click(function () {
      data = {
        id: $(this).attr('data-bs-id'),
        status: $(this).text()
      }

      $('.statusbtn').removeClass("btn-success btn-primary")
      $('.statusbtn').not($(this)).addClass("btn-primary")
      $(this).addClass("btn-success")
    })

    $(".confirm").click(function () {
      // console.log($(this).attr('data-bs-id'))
      $.ajax({
        url: "/seller/changeOrderStatus",
        method: "POST",
        contentType: "application/json",
        data: JSON.stringify({ id: data["id"], status: data["status"] }),
        success: function (res) {
          console.log(res.message)
          if (res) {
            Swal.fire({
              icon: res.status,
              title: 'Oops...',
              text: res.message,
            })
          } else {
            location.reload()
          }
        }
      });
      var modal_var = "#myModal_" + data["id"]
      $(modal_var).modal('hide')
    });
  });
</script>