<div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Your Products</h6>
        </div>

            </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="products-table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Barcode</th>
                            <th>Item</th>
							              <th>Price</th>
                            <th>Quantity</th>
							              <th>More Info</th>
                            <th>Restock</th>
                            <th>Disable Item</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                            <th>Image</th>
                            <th>Barcode</th>
                            <th>Item</th>
							              <th>Price</th>
                            <th>Quantity</th>
                            <th>More Info</th>
                            <th>Restock</th>
                            <th>Disable Item</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        {{#each products}}
                        <tr>
                            <td><img class="card-img-top" style="max-height:300px" src="" alt="Item Image" /></td>
                            <td>{{this.sku}}</td>
                            <td>{{this.name}}</td>
                            <td>${{this.price}}</td>
                            <td>{{this.quantity}}</td>
                            <td>
                                <button style="margin-top: 15px;" class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo--{{this.sku}}">More Info</button>
                            </td>
                            <td>
                                <button style="margin-top: 15px;" class="btn btn-outline btn-warning" data-toggle="modal" data-target="#Modal-Restock--{{this.sku}}">Restock Item</button>
                            </td>
                            <td>
                                
                                <form action="" method="POST" style="margin-top: 15px;">
                                        <input id="uuid" name="uuid" type="hidden" value="{{this.sku}}">
                                        <button class="btn btn-outline btn-danger" type="submit">Disable Item</button>
                                </form>
                                
                                
                            </td>
                        </tr>
                        {{/each}}

                    </tbody>

                </table>

            </div>
        </div>
    </div>
    </section>



<!-- More Info Modal -->
{{#each products}}
<div class="modal fade" style="margin-top:100px;" id="Modal-MoreInfo--{{this.sku}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{this.name}}</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="card-img-top" style="max-height:300px" src="" alt="Item Image" />
                    <hr>
                    <p>Sku: {{this.sku}}</p>
                    <p>Name: {{this.name}}</p>
                    <p>Description: {{this.description}}</p>
                    <p>Price: ${{this.price}}</p>
                    <p>Quantity: {{this.quantity}}</p>

                  </div>
                   <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>

                    </div>
                </div>

            </div>
        </div>

<!--Restock Modal-->
<div class="modal fade" style="margin-top:100px;" id="Modal-Restock--{{this.sku}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Restock {{this.name}}</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form action="" method="POST">
                <div class="modal-body">
                    

                  </div>

                   <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <input id="uuid" name="uuid" type="hidden" value="{{this.sku}}">
                    <button class="btn btn-success" type="submit">Restock</button>

                    </div>
                </div>
                </form>

            </div>
        </div>
{{/each}}
<script>
  window.addEventListener('DOMContentLoaded', event => {
                      
    const customersTable = document.getElementById('products-table');
    if (customersTable) {
        new simpleDatatables.DataTable(customersTable);
    }

    const adminTable = document.getElementById('admin-table');
    if (adminTable) {
        new simpleDatatables.DataTable(adminTable);
    }


  });
</script>

{{!-- <!--Tables Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Tables Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script> --}}