<link rel="stylesheet" href="styles/homepage.css">
<link rel="stylesheet" href="styles/product.css">
               
                    {{!-- <div class="img-responsive mt-5" style="align-items: center;">
                      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="width:90%; margin:auto">
                        
                    </nav>
                      </div>   --}}
                    
<img src="images/banner.jpg" alt="placeholder" id="banner" width="90%" class="img-responsive mt-5">
<div class="container">
  
  <div class="row mt-3">
    
  
    {{#each products}}
    <div class="col-12 col-xs-12 col-md-6 col-lg-4 col-xl-3" id="product_card">
      <div class="card">
        
        
        <img class="card-img-top product-image" src="/images/items/11.jpg" alt="Card image cap" width="153px"
          height="372px">
        <div class="card-button">
          <button type="button" class="btn show-item" value="{{this.sku}}" data-bs-toggle="modal" data-bs-target="#myModal_{{this.sku}}">
            Shop This Product
          </button>
        </div>

        <div class="modal" id="myModal_{{this.sku}}">
          <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
              <div class="row">
                <div class="container col-12 col-md-6">
                  <img src="/images/items/11.jpg" height="541px" width="381px" class="image">
                </div>

                <div class="container col-12 col-md-6 modal-info">
                  <button type="button" class="btn-close x-button" data-bs-dismiss="modal"></button>
                  <div class="modal-header">
                    <h6 class="modal-title">{{ this.name }}</h6>
                    <div class="review">
                      <span class="bx bxs-star"></span>
                      <span class="bx bxs-star"></span>
                      <span class="bx bxs-star"></span>
                      <span class="bx bxs-star"></span>
                      <span class="bx bx-star"></span>
                    </div>
                  </div>

                  <div class="modal-body">
                    <div class="price">${{ this.price }}</div>
                    <div class="desc">{{ this.description }}</div>
                  </div>

                  <div class="modal-footer">
                    <button class="button shop-item-button" value="{{ this.sku }}" value="1"
                      onclick="addtocartClicked(this)">
                      <span>Add to cart</span>
                      <div class="cart">
                        <svg viewBox="0 0 36 26">
                          <polyline points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"></polyline>
                          <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                        </svg>
                      </div>
                    </button>
                    {{!-- <form action="/addtoCart" method="POST">
                      <input type="hidden" value="{{ this.sku }}" name="sku" id="sku">
                      <input type="hidden" value="{{this.name}}" name="name" id="name">
                      <input type="hidden" value="{{this.description}}" name="description" id="description">
                      <input type="hidden" value="{{this.price}}" name="price" id="price">
                      <input type="hidden" value="{{this.category}}" name="category" id="category">

                      <input type="hidden" value="1" name="qtyPurchased" id="qtyPurchased">


                      <button value="" class="btn btn-primary shop-item-button" value="1"
                        onclick="addtocartClicked(this)" data-bs-dismiss="modal">Add to Cart</button>
                    </form> --}}

                    <button type="button" value="{{ this.sku }}" class="wishlist btn bx bx-bookmark-heart" style="font-size: 1.75em;"
                      onclick="wishList(this)"></button>

                    
                    <a href="/ProductReview/{{this.sku}}" class="btn btn-dark" style=""> <i class="bi bi-info-circle"></i> &nbsp; See Customer Reviews  </a>
                    
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<script>
  document.querySelectorAll('.button').forEach(button => button.addEventListener('click', e => {
    if (!button.classList.contains('loading')) {

      button.classList.add('loading');

      setTimeout(() => button.classList.remove('loading'), 3700);
    }
    e.preventDefault();
  }));
</script>

