<!-- Bootstrap https://getbootstrap.com/docs/4.6/getting-started/introduction/ -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
		integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
		integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
		crossorigin="anonymous"></script>
		<!-- Bootstrap Confirmation-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-confirmation2/dist/bootstrap-confirmation.min.js"></script>


<div class="main-ticket">
  <h1>Pending Tickets</h1>
  <ul class="ticket-cards">
    {{#each tickets}}
    <li class="ticket-cards_item">
      <div class="ticket-card">
        <div class="ticket-card_image">
          
            <img src="{{this.posterURL}}">
          
            {{!-- <p>{{this.title}}</p> --}}
          
        </div>
        <div class="rip"></div>
        <div class="ticket-card_content">
          <p class="ticket-card_title">{{this.title}}</p>
          <p class="ticket-card_text">
			<b>Description: </b>
			<br>
			{{this.description}}
			<br>
			<b>Urgency: </b> {{this.urgency}}
			<br>
			<b>Date: </b>{{this.createdAt}}
			</p>
          <button class="btn ticket-card_btn" data-bs-toggle="modal" data-bs-target="#myModalEditTicket_{{this.id}}">Update Ticket</button>
		  <br>
		  <button class="btn ticket-card_btn" data-bs-toggle="modal" data-bs-target="#myModalDeleteTicket_{{this.id}}">Delete Ticet</button>
        </div>
      </div>
    </li>

	{{!-- Delete Ticket Modal --}}
	<div class="modal fade" id="myModalDeleteTicket_{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="myModalLabel">Delete Ticket</h5>
					<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Are you sure you want to delete this ticket?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<form action="/ticketHistory/deleteTicket" method="POST">
						<input type="hidden" name="ticketID"  id ="ticketID" value="{{this.id}}">
						<input type="submit" class="btn btn-danger" value="Delete Ticket">
					
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal Edit Ticket -->
	<div class="modal fade" id="myModalEditTicket_{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="myModalLabel">Update Ticket</h5>
					<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
                    <div class="card mx-auto shadow" style="margin-top: 5px; " >
					<div class="card-body">
					<h4 class="card-title mb-4">Edit Ticket Form</h4>
				<form method="POST" action="/ticketHistory/editTicket">
						<div class="col-lg-3">
					<div class="form-group">
						
						<div class="custom-file mb-2">
					
								<input type="file" class="custom-file-input" id="posterUpload" name="posterUpload"
									accept="image/png,image/jpeg,image/jpg,image/gif">
								<label class="custom-file-label" for="customFile">Choose File</label>
							</div>
							<div class="text-danger small mb-2" id="posterErr" style="display:none"></div>
							<img id="poster" src="/images/no-image.jpg" alt="Poster" class="border img-thumbnail img-fluid">
							{{!—- Hidden field to submit URL of poster to the server --}}
							<input id="posterURL" type="hidden" name="posterURL">
						</div>
						<label for="">Send Us Any Supporting Images if any</label>
					</div>
					<div class="form-col">
						<div class="form-row">
						<div class= "form-group col-md-6">
							<label for="title"></label>
							<input type="text" class="form-control form-control-user" name="title" id="title" placeholder="Enter Main Title of Issue Here" value="{{this.title}}" required>
						</div>
						<div class="form-group col-md-6" >
							<label for="urgency"></label>
							<select name="urgency" id="urgency" class="form-control form-control-user" required>
								<option value="Very Urgent">Very Urgent</option>
								<option value="Urgent">Urgent</option>
								<option value="Slightly Urgent">Slightly Urgent</option>          
							</select>
						</div> <!-- form-group end.// -->

						<div class="col form-group">
							<label for="description"></label>
							<textarea name="description" class="form-control form-control-user" id="" cols="30" rows="10" placeholder="Describe Your Issue Here" required>{{this.description}}</textarea>
						</div> <!-- form-group end.// -->

					</div> <!-- form-row.// -->

						</div>
					
					

					
					</div> <!-- card-body.// -->
				</div>
				</div>
				
				<div class="modal-footer">
					<input type="hidden" name="ticketID"  id ="ticketID" value="{{this.id}}">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" >Save changes</button>
				</div>
				</form>
			</div>
		</div>
	</div>






	{{/each}}
    
     
	
    

  </ul>
</div>

<style>
  /* Design */

.main-ticket{
  max-width: 1500px;
  margin: 0 auto;
}

.ticket-card_image img{
 height: 350px;
 width: 500px;
  vertical-align: middle;
}
.ticket-card_image {
  position: relative;
}
.ticket-card_image p{
  position: absolute;
  color: white;
  font-weight: bold; 
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
   text-shadow: 1px 1px 0 rgba(0,0,0,5);
  background: rgba(0, 0, 0, 0.5);
  
}

.ticket-card_btn {
  color: #4D4D4D;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.9);
  background: transparent;
  
}


.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
  box-shadow: inset 450px 0 0 0 #D80286;
}

.ticket-cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ticket-cards_item {
  display: flex;
  padding: 1rem;
  
}

@media (min-width: 40rem) {
  .ticket-cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .ticket-cards_item {
    width: 33.3333%;
  }
}

.ticket-card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.ticket-card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #D1EBF5 40%, #EFF5F5 100%);
}

.ticket-card_title {
  color: #4D4D4D;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.ticket-card_text {
  color: #4D4D4D;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
         

.rip {
height: 20px;
margin: 0 10px;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAYAAAB7Xa1eAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuOWwzfk4AAAAaSURBVBhXY5g7f97/2XPn/AcCBmSMQ+I/AwB2eyNBlrqzUQAAAABJRU5ErkJggg==);
background-size: 4px 2px;
background-repeat: repeat-x;
background-position: center;
position: relative;
box-shadow: 0 1px 0 0 #fff, 0 -1px 0 0 #fff;
&:before,
&:after {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	border: 5px solid transparent;
	border-top-color: #fff;
	border-right-color: #fff;
	border-radius: 100%;
	pointer-events:none;
}
&:before {
	left: -10px;
}
&:after {
	transform: translate(-50%, -50%) rotate(225deg);
	right: -40px;
}
}
      
</style>

<script>
	$('[data-toggle=confirmation]').confirmation({
		rootSelector: '[data-toggle=confirmation]',
	});
</script>

