<link rel="stylesheet" href="styles/homepage.css">
<link rel="stylesheet" href="styles/product.css">
  <h1>My Wishlist</h1>
<div class="container">
  <div class="row mt-3">
    {{#each wishlistproducts}}
    <div class="col-12 col-xs-12 col-md-6 col-lg-4 col-xl-3" id="product_card">
      <div class="card">
        {{#if this.product.posterURL}}
        <img class="card-img-top product-image" src="{{this.product.posterURL}}" alt="Card image cap" width="153px"
          height="372px">
        {{else}}
        <img class="card-img-top product-image" src="/images/no-image.jpg" alt="Card image cap" width="153px"
          height="372px">
        {{/if}}
        <div class="card-button">
          <button type="button" class="btn show-item modal-opener" value="{{this.product.sku}}" data-bs-toggle="modal"
            data-bs-target="#myModal_{{this.product.sku}}">
            Shop This Product
          </button>
        </div>

        <div class="modal" id="myModal_{{this.product.sku}}">
          <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
              <div class="row">
                {{#if this.product.posterURL}}
                <div class="container col-12 col-md-6">
                  <img src="{{this.product.posterURL}}" height="541px" width="381px" class="image">
                </div>
                {{else}}
                <div class="container col-12 col-md-6">
                  <img src="/images/no-image.jpg" height="541px" width="381px" class="image">
                </div>
                {{/if}}

                <div class="container col-12 col-md-6 modal-info">
                  <button type="button" class="btn-close x-button" data-bs-dismiss="modal"></button>
                  <div class="modal-header">
                    <h6 class="modal-title">{{ this.product.name }}</h6>
                    <div class="review" id="review_{{this.product.sku}}">
                      <span class="review-star bx bx-star"></span>
                      <span class="review-star bx bx-star"></span>
                      <span class="review-star bx bx-star"></span>
                      <span class="review-star bx bx-star"></span>
                      <span class="review-star bx bx-star"></span>
                      <p class="totalreviews">{{this.product.reviews_given}} Review/s</p>
                    </div>
                  </div>

                  <div class="modal-body">
                    <div class="price">${{ this.product.price }}</div>
                    <div class="desc">{{ this.product.description }}</div>
                  </div>

                  <div class="modal-footer">
                    <button class="button shop-item-button" value="{{ this.product.sku }}" value="1"
                      onclick="addtocartClicked(this)">
                      <span>Add to cart</span>
                      <div class="cart">
                        <svg viewBox="0 0 36 26">
                          <polyline points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"></polyline>
                          <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                        </svg>
                      </div>
                    </button>

                    <button type="button" value="{{ this.product.sku }}" class="wishlist btn bx bx-bookmark-heart"
                      style="font-size: 1.75em;" onclick="wishList(this)"></button>
                    <div class="to-reviews" onclick="location.href='http://localhost:5000/reviews/{{this.product.sku}}';">See
                      Full Details</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<script>
  document.querySelectorAll('.button').forEach(button => button.addEventListener('click', e => {
    if (!button.classList.contains('loading')) {

      button.classList.add('loading');

      setTimeout(() => button.classList.remove('loading'), 3700);
    }
    e.preventDefault();
  }));
</script>